:root {
  --color1: #1c3d28;
  --color2: #556B2F;
  --color3: #ffffff;
  --color4: #000000;
  --color5: #dadce0;
  --color6: #f0eae8;
  --family1: "Ubuntu", sans-serif;
  --size1: 120px;
  --size2: 60px;
  --size3: 40px;
  --size4: 30px;
  --size5: 20px;
  --size6: 15px;
  --size7: 10px;
  --size8: 5px;
  --weight1: 700;
  --weight2: 400;
  --weight3: 300;
  --padding1: 40px;
  --padding2: 20px;
  --padding3: 15px;
  --padding4: 10px;
  --margin1: 40px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  color: var(--color3);
  font-family: var(--family1);
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-bar {
  padding: var(--padding1);
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.nav-li {
  display: flex;
  align-items: center;
  height: var(--size4);
  width: var(--size1);
}

.nav-a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--color3);
  font-weight: var(--weight3);
}

.nav-a:hover {
  font-weight: var(--weight1);
}

.sobre {
  background-image: url("../img/sobre.png");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0 var(--padding1);
  display: flex;
  align-items: center;
}

.sobre-div {
  font-size: var(--size2);
  font-weight: var(--weight1);
  text-shadow: 0 1px 3px var(--color4);
}

.produtos{
  min-height: 80vh;
  padding: 0 var(--padding1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.produtos-h2 {
  font-size: var(--size2);
  font-weight: var(--weight2);
  margin: var(--margin1) 0;
}

.produtos-div1 {
  margin-bottom: var(--margin1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--size3);
}

.produtos-div2 {
  font-weight: var(--weight3);
}

.produtos-div3 {
  text-align: justify;
}

.produtos-h4 {
  padding: var(--padding2) 0;
  margin-bottom: 0;
  padding-top: 0;
  text-align: center;
}

.produtos-p {
  margin: 0;
}

.pedido {
  min-height: 80vh;
  padding: 0 var(--padding1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pedido-h2 {
  font-size: var(--size2);
  font-weight: var(--weight2);
  text-align: center;
  margin-top: var(--margin1);
  margin-bottom: 0;
}

.pedido-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size7);
  margin: var(--margin1) 0;
}

.pedido-label {
  font-weight: var(--weight2);
  width: 100%;
}

.pedido-input {
  font-size: var(--size6);
  font-family: var(--family1);
  font-weight: var(--weight2);
  border: 0;
  border-radius: 4px;
  padding: var(--size6);
  width: 100%;
}

.pedido-input:hover, .pedido-input:focus {
  outline: 2px solid var(--color3);
  outline-offset: 2px;
}

.pedido-button {
  font-size: var(--size6);
  font-family: var(--family1);
  font-weight: var(--weight1);
  color: var(--color1);
  background-color: var(--color3);
  border: 0;
  border-radius: 4px;
  padding: var(--size6);
  margin-top: var(--size6);
}

.pedido-button:hover {
  cursor: pointer;
  background-color: var(--color6);
}

.pedido, .footer {
  border-top: 4px solid var(--color3);
}

.footer {
  height: 18vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  font-weight: var(--weight3);
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .button {
    display: none;
  }

  .nav-ul {
    display: flex;
  }

  .nav-li {
    justify-content: center;
    background-color: var(--color2);
  }

  .nav-li:nth-of-type(1),
  .nav-li:nth-of-type(2) {
    border-right: 1px solid var(--color3);
  }

  .produtos-div2{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    align-items: center;
  }

  .produtos-img {
    width: 100%;
  }

  .produtos-div3 {
    font-size: var(--size5);
    width: 90%;
  }

  .produtos-h4 {
    margin-top: 0;
  }

  .pedido-form {
    width: 50%;
  }

  .pedido-label {
    font-size: var(--size5);
  }
}

@media only screen and (max-width: 768px){
  .header {
    width: 100%;
    top: var(--size7);
    padding: 0 var(--padding4);
    overflow: hidden;
  }

  button {
    position: absolute;
    top: 0px;
    right:var(--size7);
    z-index: 1;
    width: 62px;
    height: 54px;
    padding: 0;
    border: 0;
    background-color: var(--color2);
  }

  .button-img:hover {
    cursor: pointer;
  }

  .nav-bar {
    width: 100%;
    height: 172px;
    overflow: auto;
    position: relative;
    top: -172px;
    transition: top .3s linear;
    background-color: var(--color2);
    padding: var(--padding2);
  }

  .nav-li {
    width: 100%;
    margin: var(--padding4) var(--padding3);
  }

  .sobre {
    padding: 0 var(--padding4);
  }

  .sobre-div {
    font-size: var(--size3);
  }

  .produtos {
    padding: 0 var(--padding4);
  }

  .produtos-h2 {
    font-size: var(--size3);
  }

  .produtos-div1 {
    grid-template-columns: minmax(265px, 300px);
  }

  .produtos-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .produtos-img {
    width: 40%;
  }

  .produtos-div3 {
    font-size: var(--size6);
    width: 80%;
  }

  .pedido {
    padding: 0 var(--padding4);
  }

  .pedido-h2 {
    font-size: var(--size3);
  }

  .pedido-form {
    width: 70%;
  }

  .pedido-label {
    font-size: var(--size6);
  }

  .footer {
    padding: 0 var(--padding4);
  }

  .footer-p {
    font-size: var(--size6);
  }
}
